/* Product List Page */
h1{
    color: #29435e;
}
.text-center {
    text-align: center;
    margin-top: 2%;
    text-decoration: underline;
  }
  
  .table {
    margin-top: 2rem;
  }
  thead{
    background-color: #c2d3f2;
  }
  .table th,
  .table td {
    vertical-align: middle;
  }
  
  .table th:nth-child(1),
  .table td:nth-child(1) {
    width: 5%;
  }
  
  .table th:nth-child(8),
  .table td:nth-child(8) {
    width: 15%;
  }
  
  .table th:nth-child(9),
  .table td:nth-child(9),
  .table th:nth-child(10),
  .table td:nth-child(10) {
    width: 10%;
    text-align: center;
  }
  
  .btn {
    margin-right: 0.5rem;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  