.login {
    min-height: 100vh;
  }
  
.bg-image {
    background-image: url('../../images/login1.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    margin-left: 5%;
    margin-top: 5%;
  }
  
.login-heading {
    font-weight: 200;
    color: black;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  }
  
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
input[type="text"] {
    color: black;
}

label{
    color: black;
}
.img{
    margin-left: 15%;
}